chapter3/chapter3.acn
chapter3/chapter3.aux
chapter3/chapter3.bbl
chapter3/chapter3.bcf
chapter3/chapter3.blg
chapter3/chapter3.fdb_latexmk
chapter3/chapter3.fls
chapter3/chapter3.glo
chapter3/chapter3.ist
chapter3/chapter3.log
chapter3/chapter3.out
chapter3/chapter3.pdf
chapter3/chapter3.run.xml
chapter3/chapter3.synctex.gz
